.container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #b97730, #b0a7b6);
  display: flex;
  justify-content: center;
  align-items: center;

  }
  
  .innerBox {
    min-width: 480px;
    height: 600px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer .error {
    font-weight: bold;
    font-size: 0.875rem;
    color: #8b827f;
    text-align: center;
  }
  
  .footer button {
    outline: none;
    border: none;
    background-color: #080808;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
  }
  
  .footer button:disabled {
    background-color: gray !important;
  }
  
  .footer button:hover {
    background-color: #c9c6cc;
  }
  
  .footer p {
    font-weight: 700;
    color: #000;
  }
  
  .footer p span a {
    font-weight: bold;
    color: #d9d0df;
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
  }
  